.venv/
__pycache__/
.pytest_cache/
*.pyc
.pytest_cache/
survey_quantum_data_ml/latex/*.aux
survey_quantum_data_ml/latex/*.log
survey_quantum_data_ml/latex/*.out
survey_quantum_data_ml/latex/*.toc
survey_quantum_data_ml/latex/*.bbl
survey_quantum_data_ml/latex/*.blg
survey_quantum_data_ml/latex/*.pdf
survey_quantum_data_ml/cheatsheets/*.pdf
